/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors

lightBlue: #297EA6
darkBlue: #00101C
white: #ffffff

*/

/* remove arrow on input type number */
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

/* sweatalert*/
.swal2-title {
  color: #297EA6;
  width: auto;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

/* pagination */
.currentPage {
  color:#297EA6;
  font-weight: 700;
  font-size: 1.3em;
}

.MuiAvatar-root {
  width: 100% !important;
  height: 100% !important;
}